:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  li:hover {
    background-color: #bdc3c7;
  }
  